extends ../base.jade
block contenido
	div(class="page-header text-center")
		h1 Visión de 
			strong(class="pacifico chica") Mitur.co 
	p(class="lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia eius nesciunt magnam obcaecati sequi laboriosam, asperiores nostrum culpa ad pariatur possimus cumque accusamus odio fuga maiores veritatis blanditiis, enim ullam?
	