doctype html
html(lang="CO")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Mitur.co
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(href="/css/mi.css" rel="stylesheet")
		link(href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
		link(href="http://fonts.googleapis.com/css?family=Quicksand:400,300,700" rel="stylesheet")
		link(href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css")
	body(class="blanco")
		nav(class="navbar navbar-default navbar-fixed-top azul")
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand pacifico grande" href="/") Mitur
				div(class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1")
					form(class="navbar-form form-inline navbar-left" role="search" method="POST" action="buscar")
						div(class="input-group")
							input(type="text" name="busqueda" class="form-control busqueda" placeholder="Buscar")
							span(class="input-group-btn")
								button(class="btn btn-verde" type="submit")
									span(class="glyphicon glyphicon-search")
					ul(class="nav navbar-nav")
						li(class="dropdown")
							a(href="" class="dropdown-toggle chica quicksand" data-toggle="dropdown" role="button" aria-expanded="false") #[img(src="/img/2.jpg" class="img-circle avatar")] #[span(class="glyphicon glyphicon-chevron-down")]
							ul(class="dropdown-menu" role="menu")
								li
									a(href="/empresas" class="chica") Empresas
								li
									a(href="/productos" class="chica") Productos
								li(class="divider")
								li
									a(class="chica" data-toggle="modal" data-target="#contactanos") Contactanos
		div(class="container-fluid body")
			div(class="row")
				div(class="col-xs-12")
					block contenido
			block paginacion
			hr
			footer(class="text-center")
				em Todos los derechos reservados &copy;
		<!-- Modal -->
		div(class="modal fade color-fondo top-15" id="contactanos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			div(class="modal-dialog modal-md")
				div(class="modal-content color-contacto")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true" class="glyphicon glyphicon-remove mediana")
						h4(class="modal-title text-center pacifico mediana text-blanco" id="myModalLabel") Contactanos
					div(class="modal-body")
						form(method="POST" action="contactanos")
							div(class="form-group")
								input(type="email" class="form-control" placeholder="Remitente")
							div(class="form-group")
								input(type="text" class="form-control" placeholder="Asunto")
							div(class="form-group")
								textarea(class="form-control"  placeholder="Mensaje")
							div(class="text-center")
								button(type="submit" class="btn btn-success left")
									i(class="glyphicon glyphicon-send")  Enviar
								button(type="button" class="btn btn-danger right" data-dismiss="modal" aria-label="Close")
									i(class="glyphicon glyphicon-remove-sign")  Salir
		<!-- Modal -->
		div(class="modal fade color-fondo" id="llegar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			div(class="modal-dialog modal-md")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true" class="glyphicon glyphicon-remove mediana")
						h4(class="modal-title text-center pacifico mediana" id="myModalLabel") Como llegar
					div(class="modal-body")
						
		<!--Modal-->
		div(class="modal fade color-fondo" id="registro" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true")
			div(class="modal-dialog modal-lg")
				div(class="modal-content color-info text-blanco")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true" class="glyphicon glyphicon-remove mediana")
						h4(class="modal-title text-center pacifico mediana" id="myModalLabel") Nombre de la empresa
					div(class="modal-body text-justify")
						img(src="/img/2.jpg" class="img-responsive center-block")
						hr
						p(class="lead")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi a dolores consequatur voluptas maiores eos minima soluta. Suscipit labore delectus, hic ab soluta nobis error perspiciatis cumque velit doloremque laudantium.
						address
							span(class="glyphicon glyphicon-map-marker") 
								i 795 Folsom Ave, Suite 600
							br
							span(class="glyphicon glyphicon-globe") 
								i San Francisco, CA 94107
							br
							span(class="glyphicon glyphicon-earphone") 
								i (123) 456-7890
						address
							div(class="text-center")
								button(type="button" class="btn btn-info left" data-dismiss="modal" data-toggle="modal" data-target="#contactanos")
									span(class="glyphicon glyphicon-envelope")  Contactanos
								button(type="button" class="btn btn-success right" data-dismiss="modal" data-toggle="modal" data-target="#llegar")
									span(class="glyphicon glyphicon-globe")  Como llegar!
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		script(src="/js/mi.js")