extends ../base.jade
block contenido
	div(class="col-xs-10 col-md-4 col-md-offset-4 col-xs-offset-1 text-center cafe lineas top-form")
		h1 Imagen para la galeria
		form(method="POST" action="/imagen" class="top-form")
			div(class="form-group")
				input(type="text" class="form-control" name="producto" placeholder="Producto")
			div(class="form-group")
				input(type="file" class="form-control input-bg-none" name="imagen")
				p(class="help-block") Logo de la empresa.
			div(class="form-group")
				input(type="email" class="form-control" name="correo" placeholder="Correo")
			button(type="submit" class="btn btn-success left") Guardar  #[span(class="glyphicon glyphicon-send")]
			button(type="button" class="btn btn-danger right") Limpiar  #[span(class="glyphicon glyphicon-refresh")]
			div(class="top-form")
	div(class="relleno")

